.post_list{
    display: flex;
    flex-direction: column;
    gap:35px;
}

.post{
    padding:2rem 2rem 4rem 2rem;
    display: grid;
    grid-template-rows: 20px max-content 10px;
    gap:1rem;
    border-bottom: 2px solid #6e6e6e ;
}

.post:last-child{
    border-bottom: none;
}

.post_title{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
}

.post_content{
    color:#cfcfcf;
}

.post_footer{
    color:#6e6e6e;
}

@media (prefers-color-scheme: light){
    .post_content{
        color:#696969;
    }

    .post_footer{
        color:#cfcfcf;
    }
}