.sider{
    min-height: calc(100vh - 60px);
    padding: 2rem 2rem 2rem 4rem;
    background-color: #181616;
}

.post_link{
    display: block;
    padding:10px;
}

@media (prefers-color-scheme: light){
    .sider{
        background-color: #f4f4f4;
    }
}